body{
	background: #1E405B;	
	font-family: 'Open Sans', sans-serif;	
	display: grid;
	place-items: center;
	overflow: hidden;
}
h1{
	font-weight: lighter;
	font-size: 40px;
	color: #fff;	
	margin-bottom:15px;
}
h4{
	font-weight: lighter;
	font-size: 18px;
	color: rgba(255,255,255,0.5);
	margin-top:0px;
	margin-bottom:30px;
}
.container {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	padding: 0px 50px 0px 50px;
	margin: auto;
	width: 50vw;
	height: 30vh;
	overflow: auto;
	background-color: lightgray;
	border-radius: 10px;
	display: grid;
	place-items: center;
}
